<!DOCTYPE html>
<html>
<head>
  <title>Estimation of Smoke</title>
  <link rel="stylesheet"  href="/static/style.css">
</head>
<body>

  <header>
    <h1>Estimation of Smoke</h1>
    <nav>
      <a href="/">Home</a>
      <a href="submit.html">Predict</a>
     
    </nav>
  </header>

  <main>
    <section id="hero">
      <h2>Estimating the presence or absence of smoking through bio-signals</h2>
      <a href="#">Learn more</a>
    </section>

    <section id="about">
      <h3>About Us</h3>
      <p>We are a team of scientists and engineers developing innovative technologies to estimate the presence or absence of smoking through bio-signals. Our mission is to help people make informed decisions about their health and well-being.</p>
    </section>

    <section id="contact">
      <h3>Contact Us</h3>
      <p>We would love to hear from you! Please feel free to contact us with any questions or feedback.</p>
      <form action="mailto:info@estimationofsmoke.com" method="post">
        <input type="text" name="name" placeholder="Your Name">
        <input type="email" name="email" placeholder="Your Email">
        <input type="text" name="subject" placeholder="Subject">
        <textarea name="message" placeholder="Your Message"></textarea>
        <input type="submit" value="Send">
      </form>
    </section>
  </main>

  <footer>
    
  </footer>

</body>
</html>